.container{
  & article{
    height 1235px
    background #fff
    padding 30px 40px
    & .education,& .personal{
      display inline-block
      width 49%
    }
    & .education,& .personal,& .experience{
      & h2{
        font-size 21px
        border-bottom 1px dashed #adadad
        font-weight 700
        padding-bottom 4px
        width 98%
        & span{
          font-size: 16px;
          color: teal;
          font-variant: small-caps;
          font-weight: 700;
          margin-left 20px
        }
      }
      & ul{
        padding 5px 10px
        & li{
          display flex
          -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
          justify-content: space-between;
          line-height 24px
        }
      }
    }
    & .personal{
      .detail{
        font-size 12px
      }
    }
    & .experience{
      & h2{
        margin-bottom 10px
      }
      & .item{
        display inline-block
        width 49%
        & h3{
          padding: 3px 10px 3px 26px;
          color: #fff;
          background-color: #333;
          border-radius: 6px;
          font-size: 16px;
          line-height: 1.33;
          font-weight 600
          & span{
            float right
          }
        }
        & dl{
          padding-left 20px
          & dt{
            font-size: 18px;
            font-weight: 700;
            margin: 10px 0 5px;
          }
        }
      }
    }
  }
}