.container{
  width 1000px
  margin 10px auto
  box-shadow: 3px 3px 9px rgba(0,0,0,.2);
  & header{
    overflow hidden
    padding 20px 70px 15px 40px
    background #484848
    color white
    & a{
      color white
      text-decoration none
    }
    & .top{
      border-bottom 3px solid white
      overflow hidden
      margin-left: 28px;
      & .title{
        float left
        & h1,& h2{
          display inline-block
        }
        & h1{
          padding-top 5px
          font-size 72px
          font-weight 400
        }
        & h2{
          margin 5px 0
          padding 5px 6px
          font-weight 400
          font-size 35px
        }
      }
      & .contact{
        float right
        & ul{
          margin 0
          line-height 1.2
          padding-right 18px
          text-align left
          & li{
            font-size 22px
            list-style none
            & a{
              transition: color .3s ease-out;
              &:hover{
                color #a3d3d1
              }
            }
          }
        }
      }
    }
    & .bottom{
      padding 10px 20px 0px 20px
      & ul{
        padding-left 10px
        & li{
          width 45%
          line-height 1.4
          font-size 22px
          text-align left
          display inline-block
          &:before{
            margin-right 1px
          }
          & a{
            transition: all .3s ease-out;
            &:hover{
              color #a3d3d1
            }
          }
        }
        & li:nth-child(1){
          width 49%
        }
        & li:nth-child(2){
          width 50%
        }
      }
      & ul:nth-child(2){
        & li:nth-child(1){
          // margin-left 30px
        }
      }
    }
  }
}