.resume{
  width 1000px
  margin 0 auto
  padding 30px 40px
  & header{
    background white
    & .title{
      float left
      & h1{
        color black
        padding 5px 0
        margin 5px 0
        font-size 72px
      }
      & h2{
        margin 5px 0
        padding 5px 6px
        font-weight 400
        font-size 24px
      }
    }
    & .contact{
      float right
    }
  }
}