@media print{
  body{
    background #ffffff
  }
  #notice{
    display none
  }
  .container{
    box-shadow none
    margin 0 auto
    & article section h2{
      border-bottom 1px solid black
    }
  }
  #aside{
    display none
  }
  .footer{
    display none
  }
  #top{
    display none
  }
  #duoshuo-part{
    display none
  }
}