<!DOCTYPE html>
<!--[if lte IE 8]>
<html lang="zh-CN" class="lte-ie8">
<![endif]-->
<!--[if gt IE 8]><!-->
<html lang="zh-CN">
<!--<![endif]-->

<head>
	{{> head}}
</head>
<body>
  <div class="resume">
    {{> header}}
  </div>
</body>
</html>