<!DOCTYPE html>
<!--[if lte IE 8]>
<html lang="zh-CN" class="lte-ie8">
<![endif]-->
<!--[if gt IE 8]><!-->
<html lang="zh-CN">
<!--<![endif]-->

<head>
	{{> head}}
</head>
<body>
  <div id="aside">
    {{> aside}}
  </div>
  <div id="notice">
    {{> notice}}
  </div>
  <div class="container">
    <div id="top">
      {{> top}}
    </div>
    <main>
      {{> header}}
      {{> article}}
    </main>
  </div>
  <div class="footer">
    {{> footer}}
  </div>
  <div id="duoshuo-part">
    {{> duoshuo}}
    {{> ds-css}}
  </div>
  {{> tongji}}
</body>
</html>