.icon{
  &:after,&:before{
    font-family FontAwesome
  }
  &:before{
    margin-right 10px
  }
}
.phone{
  &:before{
    content "\f095"
  }
}
.email{
  &:before{
    content "\f003"
  }
}
.github{
  &:before{
    content "\f092"
  }
}.weibo{
  &:before{
    content "\f18a"
  }
}.blog{
  &:before{
    content "\f09e"
  }
}.sf{
  &:before{
    content "\f087"
  }
}
.edu{
  &:before{
    content "\f19d"
  }
}.per{
  &:before{
    content "\f02c"
  }
}.exp{
  &:before{
    content "\f005"
  }
}.pro{
  &:before{
    content "\f02e"
  }
}.ski{
  &:before{
    content "\f135"
  }
}.link{
  &:before{
    content "\f0c1"
    margin-right 5px
  }
}.com{
  &:before{
    content "\f260"
  }
}.pro-s{
  &:before{
    content "\f268"
  }
}.ski-s{
  &:before{
    content "\f016"
  }
}
.ski-head{
  &:before{
    content "\f013"
  }
}
.exp-head{
  &:before{
    content "\f1ce"
  }
}
.pro-head{
  &:before{
    content "\f1cd"
  }
}
.wx{
  &:before{
    content "\f086"
  }
}
